# User data stuff, probably not the best to include in a github repo
*.db
*.log
discord.log
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
checkpoints/
training_data/
data/dupe_model/
*.pt
*.pth
*.bin
*.safetensors
model_head.pkl

# Yet another thing python decides it needs to create every time the bot runs
__pycache__/
*.py[cod]
*$py.class
*.so


# Node modules, believe it or not this bot was actually a hybrid one, leaving this in just in case it ever becomes one again
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# A looooooooooooooooot of stuff which the user may never even have but it's just nice to include I guess
.vscode/
*.code-workspace
.history/
*.log
logs/
*.csv
*.sqlite
*.bak
*.tmp
*.old
*.orig
.DS_Store
.idea/*
cython_debug/
.pytype/
.pyre/
.mypy_cache/
.dmypy.json
dmypy.json
/site
.ropeproject
.spyderproject
.spyproject
celerybeat-schedule
celerybeat.pid
*.sage.py
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
__pypackages__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.mo
*.pot
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec